<h1 mat-dialog-title> {{experience.description}}</h1>
<div mat-dialog-content class="mat-typography">
  <div class="one-experience-content">
    <div class="experience-photo-place">
    <img src="../{{experience.imageLink}}" alt="dfskj" style="max-width: 700px; max-height: 700px">
    </div>
    <div class="one-experience-description">
      <div>
      Elon Musk, né le 28 juin 1971 à Pretoria, est un ingénieur,
        entrepreneur, chef d'entreprise et milliardaire sud-africain,
        naturalisé canadien en 1988 puis américain en 2002
      </div>
      <div>
        Elon Musk a déclaré que les objectifs de SolarCity,
        Tesla et SpaceX tournent autour de sa vision de changer le monde et l'humanité.
        Ses buts incluent de réduire le réchauffement climatique par la production et la consommation d'énergie
        durable et réduire le « risque de l'extinction humaine »
        en créant une vie multi-planétaire par l'établissement d'une colonie humaine
        sur Mars3. SpaceX devient en 2020 la première organisation privée au monde à
        envoyer des astronautes dans l'espace.
      </div>
      <div>
        Elon Musk, né le 28 juin 1971 à Pretoria, est un ingénieur,
        entrepreneur, chef d'entreprise et milliardaire sud-africain,
        naturalisé canadien en 1988 puis américain en 2002
      </div>
      <div>
        Elon Musk a déclaré que les objectifs de SolarCity,
        Tesla et SpaceX tournent autour de sa vision de changer le monde et l'humanité.
        Ses buts incluent de réduire le réchauffement climatique par la production et la consommation d'énergie
        durable et réduire le « risque de l'extinction humaine »
        en créant une vie multi-planétaire par l'établissement d'une colonie humaine
        sur Mars3. SpaceX devient en 2020 la première organisation privée au monde à
        envoyer des astronautes dans l'espace.
      </div>
      <div>
        Elon Musk, né le 28 juin 1971 à Pretoria, est un ingénieur,
        entrepreneur, chef d'entreprise et milliardaire sud-africain,
        naturalisé canadien en 1988 puis américain en 2002
      </div>
      <div>
        Elon Musk a déclaré que les objectifs de SolarCity,
        Tesla et SpaceX tournent autour de sa vision de changer le monde et l'humanité.
        Ses buts incluent de réduire le réchauffement climatique par la production et la consommation d'énergie
        durable et réduire le « risque de l'extinction humaine »
        en créant une vie multi-planétaire par l'établissement d'une colonie humaine
        sur Mars3. SpaceX devient en 2020 la première organisation privée au monde à
        envoyer des astronautes dans l'espace.
      </div>
    </div>
  </div>

</div>

