<div class="header">
  <div class="logo">
    Kirillgram
  </div>
  <div class="searching">
  </div>
  <div class="links">
    <div class="link">
      <a href="https://twitter.com/luaroncrew" target=”_blank” ><i class="fa fa-twitter"></i></a>
    </div>
    <div class="link">
      <a href="https://t.me/luaroncrew" target=”_blank”><i class="fa fa-telegram"></i></a>
    </div>
    <div class="link">
      <a href="https://www.linkedin.com/in/luaroncrew/" target=”_blank”><i class="fa fa-linkedin"></i></a>
    </div>
    <div class="link">
      <a href="https://www.instagram.com/luu.jpeg/" target=”_blank”><i class="fa fa-instagram"></i></a>
    </div>
  </div>
</div>
