@font-face {
  font-family: "Instagram";
  src: url("../../../FontsFree-Net-Billabong.ttf") format('truetype');
}

body {
  margin: 0;
}

.header {
  padding-top: 30px;
  padding-right: 230px;
  padding-left: 200px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.logo {
  font-size: xx-large;
  font-family: Instagram, serif;
}

.links {
  display: flex;
}
