.photo-box {
  height: 250px;
  width: 250px;
  transition: 0.15s ease-out;
  position: relative;
  top: 0;
  &:hover {
    transform: scale(1.02);
  }
}

.content {
  background-color: whitesmoke;
}

