@font-face {
  font-family: "Instagram";
  src: url("FontsFree-Net-Billabong.ttf") format('truetype');
}

body {
  margin: 0;
}

.header {
  padding-top: 30px;
  padding-right: 230px;
  padding-left: 200px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.logo {
  font-size: xx-large;
  font-family: Instagram, serif;
}

.links {
  display: flex;
}

.profile {
  padding-top: 20px;
  height: 200px;
  background-color: whitesmoke;
  border-top-style: solid;
  border-top-color: lightgray;
  border-top-width: 1px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: dense;
}

.profile-picture {
  margin-left: 30px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: lightgray;
}

.profile-info {
  padding-top: 30px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column: span 2;
  margin-right: 30px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: lightgray;
}

.follow-button {
  color: white;
  background-color: dodgerblue;
  margin-left: 15px;
  border-radius: 3px;
  width: 85px;
  height: 30px;
  border-style: none;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
  &:hover {
    background-color: deepskyblue;

  }
  &:active {
    transform: scale(0.97);
  }
}

.infoline {
  display: flex;

}

.experiences {
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto auto;
  padding-top: 50px;
  align-items: center;
  grid-gap: 50px;
 }


.content {
  align-items: center;
  padding-right: 250px;
  padding-left: 220px;
  background-color: whitesmoke;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-instagram,
.fa-linkedin,
.fa-telegram,
.fa-twitter {
  background-color: white;
  color: black;
  transform: scale(1);
  margin: 0px;
  padding: 0px;
}

.fa-github {
  background-color: whitesmoke;
  color: black;
  transform: scale(1);
  margin: 0px;
  padding: 0px;
}

.instagram-tag {
  font-weight: lighter;
  text-decoration: none;
  color: dodgerblue;
  padding-left: 5px;
  text-underline: none;
  :hover,
  :visited,
  :active {
    color: dodgerblue;

  }

}

.one-experience-content {
  display: flex;
  flex-direction: row;
}

.experience-photo-place {
  width: 60%;
  margin-right: 50px;
}

.one-experience-description{
  width: 30%;

}

.follow-button-text {
  text-decoration: none;
  color: whitesmoke;
  text-underline: none;
  :hover,
  :visited,
  :active {
    color: whitesmoke;
  }
}
