<body class="mat-typography">
<div class="header">
  <div class="logo">
    Kirillgram
  </div>
  <div class="searching">
  </div>
  <div class="links">
    <div class="link">
      <a href="https://twitter.com/luaroncrew" target=”_blank” ><i class="fa fa-twitter"></i></a>
    </div>
    <div class="link">
      <a href="https://t.me/luaroncrew" target=”_blank”><i class="fa fa-telegram"></i></a>
    </div>
    <div class="link">
      <a href="https://www.linkedin.com/in/luaroncrew/" target=”_blank”><i class="fa fa-linkedin"></i></a>
    </div>
    <div class="link">
      <a href="https://www.instagram.com/luu.jpeg/" target=”_blank”><i class="fa fa-instagram"></i></a>
    </div>
  </div>
</div>
<div class="content">
  <div class="profile">
    <div class="profile-picture">
      <img src="assets/pictures/9e07ba7a88bc7a12ce9309b289c6e5c9.jpg"
           alt="eric"
           style="border-radius: 50%; width: 170px; height: 170px">
    </div>
    <div class="profile-info">
      <div class="infoline">
        <div style="font-family: Arial; font-size: x-large;"> eric.cartman </div>
        <button class="follow-button"><a href="mailto:cyrill.makarov@gmail.com" class="follow-button-text" target=”_blank”> Contact me </a></button>
          <a class="fa fa-github" target=”_blank” href="https://github.com/luaroncrew"></a>
      </div>
      <div class="infoline">
        Software developer and data science student, CEO of
        <a class="instagram-tag" href="https://farswap.org/"> @farawayswap</a>
      </div>

    </div>
  </div>
  <app-experiences></app-experiences>
</div>
</body>
